<!DOCTYPE html>
<html>
<article class = "err" >
<h1 id= "errid" position= "absolute" top= "200px" left="0" width="100%">404 {{err}}</h1>

</article>
<img src="https://i.ytimg.com/vi/j-8BnRiu2sY/maxresdefault.jpg" id= "picture" >


</html>